div {
  color: #2B8BC9
}
.horizontalNav {
  display: flex;
  justify-content: flex-end;
  background-color: #E9F3F9
}

.horizontalNav button {
  margin: 20px;
  background-color: #2B8BC9;
  padding: 5px 10px;
  border-radius: 15%;
  color: white
}

.verticalNav {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 200px;
  border-right:2px solid #8CC0E2;
  height: 100%;
  /* bottom: 0; */
}
.verticalNav h3 {
  background-color: #D6E8F3;
  padding: 20px;
  height: 100%
}
.navAndDash {
  display: flex;
  flex-direction: row;
  justify-content: space-between
}

.dashboard {
  margin-left: 200px
}