div {
  color: #2b8bc9;
}
.horizontalNav {
  display: flex;
  justify-content: flex-end;
  background-color: #e9f3f9;
}

.horizontalNav button {
  margin: 20px;
  background-color: #2b8bc9;
  padding: 5px 10px;
  border-radius: 15%;
  color: white;
}

/* .appContainer {
  display: flex;
  flex-direction: column;
  max-width: 1280px;
} */

.verticalNav {
  /* position: absolute; */
  display: flex;
  flex-direction: column;
  width: 20%;
  border-right: 1px solid #8cc0e2;
  height: 100%;
  text-align: center;
  /* bottom: 0; */
}

@media (max-width: 568px) {
  .verticalNav {
    width: 100%;
    justify-content: space-between;
  }
}

.verticalNav h3 {
  background-color: #d6e8f3;
  /* padding: 20px; */
  height: 100%;
}
.navAndDash {
  max-width: 1280px;
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

@media (max-width: 568px) {
  .navAndDash {
    flex-direction: column;
  }
}

.dashboard {
  width: 80%;
  display: flex;
  flex-direction: column;
  align-content: center;

  /* background-image: url("https://www.runragnar.com/ragnar-trail-blog/wp-content/uploads/2014/10/halloween-trail-runner.jpg") */
}

@media (max-width: 568px) {
  .dashboard {
    width: 100%;
  }
}
